<!-- app/templates/application.hbs -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">My App</a>
		</div>
		<div class="navbar-right search-field">
			{{#if isHome}}
				{{#bs-form formLayout="inline" class="search-form" action="search"}}
					{{#if filteredPhotos}}
						{{bs-input type="text" value=searchField placeholder="filter photos"}}
					{{/if}}
					{{bs-input type="text" value=tagSearchField action="search" placeholder="search for a flickr tag"}}
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				{{/bs-form}}
			{{else}}
				<ul class="nav navbar-nav left-menu">
					<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				</ul>
			{{/if}}
			{{auth-manager class="auth-mgr" userid=userid}}

		</div>
	</div>
</nav>
<div class="container">
	{{outlet}}
</div>